 /**
 *
 * DDS MANNER Higher Secondary School
 * @link http://ddsmanner.in/
 * Built By: www.ddsmanner.in
 * Project Manager: Best School In Chiraiyakot, Mau
 * 
 *
 */
@media (max-width: 480px) {
	.logo-mobile {
		display: none;
	}
	.desktop-header {
		display: none;
	}
	
	.magnis-boxed-inner{
		background-image: url(../images/header_bg_mobile.png);  
	}
	.container {
		width: 300px !important;
	}
	.site-desc {
		display: none;
	}
	.site-desktop-menu {
		display: none;
	}
	.site-logo {
		float: none;
		width: auto;
		margin: 0px;
		font-size: 24px !important;
	}
	.header-social-buttons {
		display: none;
	}
	nav.site-mobile-menu {
		margin-top: 0px !important;
		margin-bottom:10px;
	}
	.latest-blog-posts .jcarousel-skin-tango .jcarousel-item-horizontal .latest-blog-post-img img {
		display: none;
	}
	.latest-blog-posts .jcarousel-skin-tango .jcarousel-item-horizontal {
		padding-left: 75px !important;
	}
	.latest-blog-posts-2 .jcarousel-skin-tango .jcarousel-item-horizontal .latest-blog-post-img img {
		display: none;
	}
	.latest-blog-posts-2 .jcarousel-skin-tango .jcarousel-item-horizontal {
		padding-left: 75px !important;
	}
	nav.site-mobile-menu > ul {
		top: 66px !important;
	}
	.magnis-cart-totals-block .button-dark {
		margin-bottom: 20px;
	}
}
     
@media (max-width: 768px) {
	.logo-mobile {
		display: none;
	}
	.desktop-header {
		display: none;
	}
	.desktop-slider{
		display: none;
	}
	.container {
		width: 450px;
	}
	.site-desc {
		display: none;
	}
	.site-desktop-menu {
		display: none;
	}
	.header-social-buttons a i {
		line-height: 25px !important;
		height: 24px !important;
		width: 25px !important;
	}
	.purchase a.button {
		margin-top: 20px;
	}
	img.lone-img {
		margin: 40px 0px;
	}
	.latest-projects-intro {
		width: 100%;
	}
	.latest-projects-wrapper {
		width: 100%;
	}
	.latest-blog-posts {
		margin-bottom: 55px;
	}
	.footer-widget {
		margin-bottom: 55px;
	}
	.site-footer {
		padding-bottom: 0px;
	}
	.footer-contacts-wrapper {
		background-size: auto 100%;
	}
	.bottom-line p {
		text-align: center !important;
	}
	.quick_newsletter input.text, .quick_newsletter button.btn {
		margin-top: 20px;
	}
	.latest-blog-posts .jcarousel-skin-tango .jcarousel-item-horizontal .latest-blog-post-details small span {
		width: 100%;
		float: left;
		text-align: left !important;
	}
	.team-member {
		margin-top: 40px;
	}
	.team-member-first {
		margin-top: 20px;
	}
	.header-social-buttons {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.ul-style-2 li {
		width: 100%;
	}
	.page-header p {
		text-align: left;
		margin-top: 20px;
	}
	.pr-table-featured {
		margin-top: 40px;
	}
	.pr-table-3-wrapper table {
		width: 800px;
	}
	.magnis-shopping-cart-details-table-wrapper .magnis-shopping-cart-details-table {
		width: 800px;
	}
	.comment-item .comment-item {
		margin-left: -30px;
	}
	.add-comment-form p input {
		width: 100%;
		margin-bottom: 20px;
	}
	.add-comment-form p button {
		width: 100%;
	}
	#daysOne, #hoursOne, #minsOne, #secsOne{
		width: 100%;
	}
	#wrapper {
		width: 100%;
	}
	.main-content-soon-color {
		padding: 100px 0px;
	}
	.header-sub-wrapper-3 {
		max-width: none;
	}
	.header-sub-wrapper-3 .header-social-buttons-3 {
		margin-top: 20px;
	}
	.header-search {
		display: none;
	}
	.gray-line-3 {
		top: 109px !important;
	}
	.testimonials-2 .jcarousel-skin-tango .jcarousel-item-horizontal {
		padding-left: 55px;
	}
	.testimonials-2 ul li > i {
		left: 0px;
	}
	.testimonials-2 ul li  img {
		display: none;
	}
	.buy-now-block a.button {
		margin-top: 20px;
	}
	.latest-projects .latest-projects-wrapper {
		width: 100%;
	}
	.latest-projects .latest-projects-intro {
		width: 100%;
	}
	.latest-projects .latest-projects-intro p {
		margin-top: 0px;
	}
	.magnis-product-item {
		margin-bottom: 40px;
	}
	.magnis-shop .magnis-pagination {
		margin-top: 0px;
	}
	.magnis-pagination > a, .magnis-pagination > span {
		margin-bottom: 20px;
	}
	.magnis-releated-products .magnis-product-item {
		margin-bottom: 40px;
	}
	.magnis-product-item-single-img, .magnis-product-item-single-desc {
		width: 100%;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.site-desc {
		display: none;
	}
	.site-desktop-menu {
		display: none;
	}
	.footer-filckr-wrapper {
		height: 153px;
	}
	
}

@media (min-width: 768px) and (max-width: 979px) {
	nav.site-desktop-menu > ul > li > a {
		font-size: 14px;
	}
	.span1 {
		width: 450px;
	}
	.span2 {
		width: 450px;
	}
	.span3 {
		width: 450px;
	}
	.span4 {
		width: 450px;
	}
	.span5 {
		width: 450px;
	}
	.span6 {
		width: 450px;
	}
	.span7 {
		width: 450px;
	}
	.span8 {
		width: 450px;
	}
	.span9 {
		width: 450px;
	}
	.span10 {
		width: 450px;
	}
	.span11 {
		width: 450px;
	}
	.span12 {
		width: 450px;
	}
	.ipadleft {
		margin-left:0px;
	}
	.site-desc {
		display: none;
	}
	.highlight {
		display: none;
	}
	.header-contacts .contact-1, .header-contacts .contact-2 {
		display: none;
	}
	.header-contacts p {
		margin-right: 20px;
	}
	.header-contacts p i {
		display: inline-block !important;
	}
	nav.site-desktop-menu > ul > li {
		margin-left: 15px;
	}
	nav.site-desktop-menu-2 > ul > li {
		margin-right: 15px !important;
		margin-left: 0px !important;
	}
	.site-desktop-menu {
		display: none;
	}
	.site-logo {
		margin-right: 0px;
		font-size: 24px !important;
	}
	.purchase a.button {
		width: 100%;
	}
	.latest-projects-intro p {
		display: none;
	}
	.latest-projects-intro h2 {
		font-size: 18px;
		line-height: 18px;
	}
	.latest-blog-posts .jcarousel-skin-tango .jcarousel-item-horizontal .latest-blog-post-details small span {
		width: 100%;
		float: left;
		text-align: left !important;
	}
	.team-member .soc-buttons a {
		font-size: 18px;
		width: 40px;
	}
	.ul-style-2 li {
		width: 100%;
	}
	.add-comment-form p input {
		width: 178px;
	}
	.buy-now-block a.button i {
		display: none;
	}
	.newsletters-1 .quick_newsletter .btn i {
		display: none;
	}
	.footer-newsletters .quick_newsletter input {
		width: 100%;
	}
	.footer-newsletters .quick_newsletter .btn {
		float: right;
	}
	.magnis-product-item {
		margin-bottom: 20px;
	}
	.magnis-shop .magnis-pagination {
		margin-top: 20px;
	}
	.magnis-cart-totals-block .button-dark {
		margin-bottom: 20px;
	}
	.mobile-slider{
		display: visible;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	.site-mobile-menu {
		display: none;
	}
	.purchase a.button {
		width: 100%;
	}
	.latest-projects-intro p {
		font-size: 12px;
		line-height: 18px;
	}
	nav.site-desktop-menu-2 > ul > li {
		margin-left: 0px !important;
	}
	.add-comment-form p input {
		width: 260px;
	}
	.footer-newsletters .quick_newsletter input {
		width: 100%;
	}
	.footer-newsletters .quick_newsletter .btn {
		float: right;
	}
	.magnis-product-item {
		margin-bottom: 20px;
	}
	.magnis-shop .magnis-pagination {
		margin-top: 20px;
	}
	nav.site-desktop-menu > ul > li {
		margin-left: 30px;
	}
	.mobile-header {
		display: none;
	}
	.mobile-slider{
		display: none;
	}
}
     
@media (min-width: 768px) and (max-width: 1199px) {
	.magnis-shopping-cart p a.button-color {
		margin-bottom: 10px;
	}
}
@media (min-width: 1200px) {
	.site-mobile-menu {
		display: none;
	}
	.magnis-product-item {
		margin-bottom: 30px;
	}
	.magnis-shop .magnis-pagination {
		margin-top: 10px;
	}
	.mobile-header {
		display: none;
	}
	.mobile-slider{
		display: none;
	}
}
/**
 *
 * DDS MANNER Higher Secondary School
 * @link http://ddsmanner.in/
 * Built By: www.ddsmanner.in
 * Project Manager: Best School In Chiraiyakot, Mau
 * 
 *
 */